#boxBackground{
    background-image: url('./elshaday.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    height: 200px;
    background-position: center center;
    
}
body {
    margin: 0px;
}
h2{
    color: #ff00de;
    text-align: center;
}
#jun{
    text-align: center;
    color: #ff00de;
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 25px;
}
input{
    width: 80%;
    margin-left: 7%;
}
.titulo1{
    background-color: #ff00de;
    width: 38%;
    border-radius: 5px;
    margin-left: 30%;
    margin-bottom: 35px;
    text-align: center;
    margin-top: 40px;
}
button{
    height: 25px;
    width: 45%;
    margin-left: 27%;
    margin-bottom: 50px;
    margin-top: 30px;
    border: 1px solid #ff00de;
}